@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-bg text-fg0;
}

* {
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.a-btn {
  @apply bg-yellow text-bg;
}

input {
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.4em 0.8em;
  width: 100%;

  @apply bg-bg1;
}

input:focus-visible {
  outline: none;
}

.prose h1 {
  margin-bottom: 0;
}

.prose p {
  margin-top: 0;
}
